<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>786263637978-n9ohb0veg0mrr0sulvm9l5r34brjgdth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786263637978-n9ohb0veg0mrr0sulvm9l5r34brjgdth</string>
	<key>API_KEY</key>
	<string>AIzaSyBhDCY0KtgoL3RjEN6DDctlDdWN7asnyWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786263637978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.isysoi.Hero-Game-Bot</string>
	<key>PROJECT_ID</key>
	<string>hero-bot-game</string>
	<key>STORAGE_BUCKET</key>
	<string>hero-bot-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786263637978:ios:a70216ad21402caa</string>
	<key>DATABASE_URL</key>
	<string>https://hero-bot-game.firebaseio.com</string>
</dict>
</plist>